

.wrapper-select {
 background-color: #ffffff;
 padding: 15px;
 margin-top: 25px;
 border-radius: 5px;
 max-width: 532px;
 display: flex;
 justify-content: space-between;
 
}

.wrapper-select .select {
 background-color: #ffffff;
 font-weight: 700;
 font-size: 18px;
 line-height: 28px;
 border: none;
}

.wrapper-select .select:focus {
 border:none;
}

.wrapper-select .select:active {
 border:none;
}

.wrapper-select .select:hover {
 border:none;
}

.wrapper-select .button {
    // float: right;
}