.wrapper-select {
 background-color: #ffffff;
 padding: 20px;
 border-radius: 5px;
}

.select {
 background-color: #ffffff;
 font-weight: 700;
 font-size: 18px;
 line-height: 28px;
 border: none;
}

.select:focus {
 border:none;
}

.select:active {
 border:none;
}

.select:hover {
 border:none;
}
