.about_us .banner_image {
 background-image: url('/storage/images/aboutus_banner_image_1.png');
 background-position: left;
 width: 556px;
 height: 492px;
 margin-top: -50px;
 position: absolute;
}

.about_us .underline {

 position:relative;

}

.about_us .underline:after{
content: "";
position:absolute;
bottom:-2px;/*position the underline using left and bottom property*/
left:0;
width:50px;/* adjust the width of underline as you like*/
border-bottom:1px solid #ccc;/* adjust the underline width and color as you like*/

}